.HA_VERSION
automations.yaml
configuration.yaml
daikin_data_DACARLO.json
daikin_data.json
daikin_puredata.json
groups.yaml
home-assistant_v2.db
home-assistant.log
home-assistant_v2.db-shm
home-assistant_v2.db-wal
home-assistant.log.1
home-assistant.log.fault
reset.cmd
scenes.yaml
scripts.yaml
secrets.yaml
tokenset.json
.storage/**
blueprints/**
custom_components/dhcp/**
custom_components/hacs/**
custom_components/sonoff/**
custom_components/start_time/**
custom_components/xiaomi_gateway3/**
custom_components/yandex_station/**
deps/**
custom_components/daikin_residential_altherma/.vscode/**
custom_components/daikin_residential_altherma/__pycache__/**

.idea/
.venv/
