.HA_VERSION
automations.yaml
configuration.yaml
daikin_data_DACARLO.json
daikin_data.json
daikin_puredata.json
groups.yaml
home-assistant_v2.db
home-assistant.log
reset.cmd
scenes.yaml
scripts.yaml
secrets.yaml
tokenset.json
.storage/**
blueprints/**
custom_components/hacs/**
custom_components/sonoff/**
custom_components/start_time/**
custom_components/xiaomi_gateway3/**
custom_components/yandex_station/**
deps/**
custom_components/daikin_residential_altherma/.vscode/**
