name: Validate with hassfest

on:
  push:
  pull_request:
  schedule:
    - cron: "0 1 * * SUN"
  workflow_dispatch:

jobs:
  validate:
    runs-on: "ubuntu-slim"
    steps:
      - uses: "actions/checkout@v6"
      - uses: home-assistant/actions/hassfest@master
