name: HACS Validate

on:
  push:
  pull_request:
  schedule:
    - cron: "0 1 * * SUN"
  workflow_dispatch:

jobs:
  validate:
    runs-on: "ubuntu-slim"
    steps:
      - name: HACS validation
        uses: "hacs/action@main"
        with:
          category: "integration"
